.Agustin-Navegacion {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 2rem;
    background: -prefix-linear-gradient(left top, rgb(255, 255, 255), rgb(178, 6, 201));
    background: linear-gradient(to bottom right, rgb(37, 1, 44), rgb(100, 94, 94));
}
