.Agustin-content {
    min-height: calc(100vh - 80px - 60px);
    background: -prefix-linear-gradient(left top, rgb(254, 142, 142), rgb(178, 6, 201));
    background: linear-gradient(to bottom right, rgb(155, 217, 255), rgb(231, 197, 197));
}
